.icon-change {
    transition: transform 0.3s !important;
}
.icon-change:hover .fa-trash {
    display: none !important;
}
.fa-trash-arrow-up {
    display: none !important;
}
.icon-change:hover .fa-trash-arrow-up {
    display: inline !important;
}
.icon-change:hover .fa-trash {
    display: none !important;
}


.add-option-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.add-option-container::before, 
.add-option-container::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ced4da;
    margin: 0 1rem;
}






.form-group {
    margin-bottom: 1rem;
}

#preguntasList {
    max-height: 50vh !important;
    overflow-y: auto;
}
